.chat {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%; }

.chat header {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 60px; }

.chat header div {
  display: -ms-flexbox;
  display: flex;
  /* logo vertical alignment */ }

.chat header img {
  margin: auto 0;
  /* logo vertical alignment */
  width: 120px; }